.DS_Store
build
node_modules
app.js
npm-debug.log
cordova/console.log
cordova/debug
cordova/emulate
cordova/log
CordovaLib/Classes/CDV.h
CordovaLib/Classes/CDVAccelerometer.h
CordovaLib/Classes/CDVAccelerometer.m
CordovaLib/Classes/CDVAvailability.h
CordovaLib/Classes/CDVBattery.h
CordovaLib/Classes/CDVBattery.m
CordovaLib/Classes/CDVCamera.h
CordovaLib/Classes/CDVCamera.m
CordovaLib/Classes/CDVCapture.h
CordovaLib/Classes/CDVCapture.m
CordovaLib/Classes/CDVCommandDelegate.h
CordovaLib/Classes/CDVCommandDelegateImpl.h
CordovaLib/Classes/CDVCommandDelegateImpl.m
CordovaLib/Classes/CDVCommandQueue.h
CordovaLib/Classes/CDVCommandQueue.m
CordovaLib/Classes/CDVConnection.h
CordovaLib/Classes/CDVConnection.m
CordovaLib/Classes/CDVContact.h
CordovaLib/Classes/CDVContact.m
CordovaLib/Classes/CDVContacts.h
CordovaLib/Classes/CDVContacts.m
CordovaLib/Classes/CDVCordovaView.h
CordovaLib/Classes/CDVCordovaView.m
CordovaLib/Classes/CDVDebug.h
CordovaLib/Classes/CDVDebugConsole.h
CordovaLib/Classes/CDVDebugConsole.m
CordovaLib/Classes/CDVDevice.h
CordovaLib/Classes/CDVDevice.m
CordovaLib/Classes/CDVEcho.h
CordovaLib/Classes/CDVEcho.m
CordovaLib/Classes/CDVFile.h
CordovaLib/Classes/CDVFile.m
CordovaLib/Classes/CDVFileTransfer.h
CordovaLib/Classes/CDVFileTransfer.m
CordovaLib/Classes/CDVGlobalization.h
CordovaLib/Classes/CDVGlobalization.m
CordovaLib/Classes/CDVInvokedUrlCommand.h
CordovaLib/Classes/CDVInvokedUrlCommand.m
CordovaLib/Classes/CDVLocalStorage.h
CordovaLib/Classes/CDVLocalStorage.m
CordovaLib/Classes/CDVLocation.h
CordovaLib/Classes/CDVLocation.m
CordovaLib/Classes/CDVLogger.h
CordovaLib/Classes/CDVLogger.m
CordovaLib/Classes/CDVNotification.h
CordovaLib/Classes/CDVNotification.m
CordovaLib/Classes/CDVPlugin.h
CordovaLib/Classes/CDVPlugin.m
CordovaLib/Classes/CDVPluginResult.h
CordovaLib/Classes/CDVPluginResult.m
CordovaLib/Classes/CDVReachability.h
CordovaLib/Classes/CDVReachability.m
CordovaLib/Classes/CDVSound.h
CordovaLib/Classes/CDVSound.m
CordovaLib/Classes/CDVSplashScreen.h
CordovaLib/Classes/CDVSplashScreen.m
CordovaLib/Classes/CDVURLProtocol.h
CordovaLib/Classes/CDVURLProtocol.m
CordovaLib/Classes/CDVViewController.h
CordovaLib/Classes/CDVViewController.m
CordovaLib/Classes/CDVWhitelist.h
CordovaLib/Classes/CDVWhitelist.m
CordovaLib/Classes/compatibility/0.9.6/CDV.h
CordovaLib/Classes/compatibility/0.9.6/CDVPlugin.h
CordovaLib/Classes/compatibility/0.9.6/CDVPlugin.m
CordovaLib/Classes/compatibility/1.5.0/CDV.h
CordovaLib/Classes/compatibility/1.5.0/CDVPlugin.h
CordovaLib/Classes/compatibility/README.txt
CordovaLib/Classes/JSON/JSONKit.h
CordovaLib/Classes/JSON/JSONKit.m
CordovaLib/Classes/NSArray+Comparisons.h
CordovaLib/Classes/NSArray+Comparisons.m
CordovaLib/Classes/NSData+Base64.h
CordovaLib/Classes/NSData+Base64.m
CordovaLib/Classes/NSDictionary+Extensions.h
CordovaLib/Classes/NSDictionary+Extensions.m
CordovaLib/Classes/NSMutableArray+QueueAdditions.h
CordovaLib/Classes/NSMutableArray+QueueAdditions.m
CordovaLib/Classes/UIDevice+Extensions.h
CordovaLib/Classes/UIDevice+Extensions.m
CordovaLib/CordovaLib_Prefix.pch
CordovaLib/CordovaLib.xcodeproj/project.pbxproj
CordovaLib/VERSION
SAPIHackBuild.xcodeproj/project.pbxproj
SAPIHackBuild/.gitignore
SAPIHackBuild/Classes/AppDelegate.h
SAPIHackBuild/Classes/AppDelegate.m
SAPIHackBuild/Classes/MainViewController.h
SAPIHackBuild/Classes/MainViewController.m
SAPIHackBuild/Classes/MainViewController.xib
SAPIHackBuild/Cordova.plist
SAPIHackBuild/main.m
SAPIHackBuild/Plugins/README
SAPIHackBuild/Resources/Capture.bundle/controls_bg.png
SAPIHackBuild/Resources/Capture.bundle/controls_bg@2x.png
SAPIHackBuild/Resources/Capture.bundle/controls_bg@2x~ipad.png
SAPIHackBuild/Resources/Capture.bundle/controls_bg~ipad.png
SAPIHackBuild/Resources/Capture.bundle/microphone-568h@2x~iphone.png
SAPIHackBuild/Resources/Capture.bundle/microphone.png
SAPIHackBuild/Resources/Capture.bundle/microphone@2x.png
SAPIHackBuild/Resources/Capture.bundle/microphone@2x~ipad.png
SAPIHackBuild/Resources/Capture.bundle/microphone~ipad.png
SAPIHackBuild/Resources/Capture.bundle/record_button.png
SAPIHackBuild/Resources/Capture.bundle/record_button@2x.png
SAPIHackBuild/Resources/Capture.bundle/record_button@2x~ipad.png
SAPIHackBuild/Resources/Capture.bundle/record_button~ipad.png
SAPIHackBuild/Resources/Capture.bundle/recording_bg.png
SAPIHackBuild/Resources/Capture.bundle/recording_bg@2x.png
SAPIHackBuild/Resources/Capture.bundle/recording_bg@2x~ipad.png
SAPIHackBuild/Resources/Capture.bundle/recording_bg~ipad.png
SAPIHackBuild/Resources/Capture.bundle/stop_button.png
SAPIHackBuild/Resources/Capture.bundle/stop_button@2x.png
SAPIHackBuild/Resources/Capture.bundle/stop_button@2x~ipad.png
SAPIHackBuild/Resources/Capture.bundle/stop_button~ipad.png
SAPIHackBuild/Resources/de.lproj/Localizable.strings
SAPIHackBuild/Resources/en.lproj/Localizable.strings
SAPIHackBuild/Resources/es.lproj/Localizable.strings
SAPIHackBuild/Resources/icons/icon-72.png
SAPIHackBuild/Resources/icons/icon-72@2x.png
SAPIHackBuild/Resources/icons/icon.png
SAPIHackBuild/Resources/icons/icon@2x.png
SAPIHackBuild/Resources/se.lproj/Localizable.strings
SAPIHackBuild/Resources/splash/Default-568h@2x~iphone.png
SAPIHackBuild/Resources/splash/Default-Landscape@2x~ipad.png
SAPIHackBuild/Resources/splash/Default-Landscape~ipad.png
SAPIHackBuild/Resources/splash/Default-Portrait@2x~ipad.png
SAPIHackBuild/Resources/splash/Default-Portrait~ipad.png
SAPIHackBuild/Resources/splash/Default@2x~iphone.png
SAPIHackBuild/Resources/splash/Default~iphone.png
SAPIHackBuild/SAPIHackBuild-Info.plist
SAPIHackBuild/SAPIHackBuild-Prefix.pch
